@import "@/styles/variables";

.section {
  .majorArticle {
    @apply relative bg-white shadow-md rounded-lg px-10 py-20 overflow-hidden;

    h1 {
      @apply text-6xl font-black uppercase w-3/4;
    }

    p {
      @apply w-2/4;
    }

    button {
      @apply px-10 py-3 mt-6 gap-2;
    }

    img {
      @apply absolute -top-10 -right-80 z-10;

      @media (max-width: $adaptive-max-breakpoint) {
        @apply hidden;
      }
    }

    @media (max-width: $adaptive-max-breakpoint) {
      @apply py-6 px-6;

      h1 {
        @apply w-full text-3xl;
      }

      p {
        @apply w-full;
      }
    }
  }

  .items {
    @apply grid gap-6;
    grid-template-columns: repeat(2, 1fr);

    article {
      @apply shadow-md;
    }
  }

  .items {
    @media (max-width: $adaptive-max-breakpoint) {
      @apply hidden;
    }
  }

  .swiper {
    @media (min-width: $adaptive-max-breakpoint) {
      @apply hidden;
    }
  }

  .items,
  .swiper {
    @apply mt-6;
    article {
      @apply bg-white rounded-md flex flex-col items-center text-center gap-2 px-3 py-4;

      h4 {
        @apply text-2xl font-bold;
      }
    }
  }

  .swiper {
    .slide {
      @apply w-72;
    }
  }
}
